* {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Barra fixa no topo */
.navbar {
    background-color: #1D1E2C;
    height: 70px;
    color: #BB4BA1;
    position: fixed;
    top: 0;
}

.navbar-brand {
    padding-left: 16px;
    margin-top: 16px;
}

.sidebar {
    background-color: #2A2B3E;
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    width: 160px;
}

.content {
    margin-top: 80px;
    margin-left: 170px;
    margin-right: 10px;
    text-align: justify;
}

.button {
    color: #676A95;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.button:hover{
    background-color: rgb(124, 68, 112) !important;
    color: rgb(231, 231, 231) !important;
}

.button-active {
    background-color: #9C528B;    
    color: #fff;
}

.button-icon {
    font-size: 70px;
    margin-top: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
}

/* Para evitar bordas duplicadas, foi definida apenas a superior */
.contact-row {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;;
    /* background-color: rgb(46, 197, 139); */
    border: solid #9C528B 2px;
}

/* Cantos arredondados nas bordas superiores */
.contact-row:first-child {
    background-color: #9C528B;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Cantos arredondados nas bordas inferiores */
.contact-row:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Aplica a borda a ultima linha  */
.contact-row:not(:last-child) {
    border-bottom-width: 0;
}

.contact-row div {
    color: #9C528B;
    border-right: solid #9C528B 2px;
    font-size: 30px;
    padding-top: 8px;
    width: 50px;
}

.contact-row p {
    padding-left: 20px;
    font-size: 22px;
    margin-top: 12px;
    color: #515151;
    
}

.contact-header div {
    background-color: rgb(196, 106, 176);
}

.contact-header p {
    color: #fff;
}

.contact-index {
    color: #fff;
    padding-left: 16px;
}

.fa-envelope {
    padding-left: 9px;
}

.fa-phone {
    padding-left: 13px;
}